.wrapper{
    width: 1600px;
    height: 368px;
    background-color: #2B1D37;
}

.container{
    display: flex;
    width: 1600px;
    height: 299px;
    background-color: #2B1D37;
}

.content{
    display: flex;
    justify-content: space-between;
    margin: 30px 210px 78px 9px;
    width: 1400px;
    height: 260px;

}

.logo{
    margin: 30px 89px 284px 73px;
    width: 211px;
    height: 54px;
    background-color: #2B1D37;
}

.about{
    margin: 15px 21px 8px 0px;
    width: 220px;
    height: 254px;
    font-size: 18px;
}

.competencies{
    margin: 15px 40px 8px 0px;
    width: 220px;
    height: 254px;
    font-size: 18px;
}

.projects{
    margin: 15px 21px 8px 0px;
    width: 240px;
    height: 252px;
    font-size: 18px;
}

.projects li{
    width: 230px;
}

.competencies li{
    width: 230px;
}

.cooperation{
    margin: 15px 21px 8px 0px;
    width: 220px;
    height: 252px;
    font-size: 18px;
}

li{
    list-style-type: none;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #ADADAD;
}

.about_header{
    margin-left: 39px;
    margin-bottom: 8px;
    color: #67D5DC;
}

.competencies_header{
    margin-left: 39px;
    margin-bottom: 8px;
    color: #67D5DC;
}
.projects_header{
    margin-left: 39px;
    margin-bottom: 8px;
    color: #67D5DC;
}

.cooperation_header{
    margin-left: 39px;
    margin-bottom: 8px;
    color: #67D5DC;
}

.line_container{
    height: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 1600px;
    background-color: #2B1D37;
}

.line{
    margin-left: 140px;
    margin-top: 7px;
    position: absolute;
    width: 1300px;
    height: 1px;
    background-color: aqua;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 23px;
    background-color: #2B1D37;
}


.icons{
    display: flex;
    width: 90px;
    height: 16px;
    margin-top: 7px;
    margin-right: 170px;

}

.mark_label{
    width: 183px;
    height: 18px;
    margin-left: 145px;
    margin-top: 10px;
}

.instagram{
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.telegram{
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.youtube{
    width: 14px;
    height: 15px;
    margin-right: 10px;
}

.github{
    width: 16px;
    height: 15px;
    margin-right: 81px;
}